{% extends 'base.html' %}

{% block content %}


<h1> Users List  </h1>
<br/>
<br/>
<br/>
    
{% for user in user_list %}

<div class="card">
    <div class="card-header">
        {{ user }}
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"><ul>
        <li>Guid: {{ user.guid }}</li>
        <li>User Name: {{ user.user_name }}</li>
        <li>PwC PPI: {{ user.ppi_code }}</li>
        <li>Email Address: {{ user.email_address }}</li>
        <li>Account Type: {{ user.account_Type }}</li>
        </ul>




        </p>
    </div>
    <div class="card-footer text-muted">
    <a href="{% url 'update-user' user.id %} class="btn btn-outline-secondary btn-sm">Update User</a>
      
    </div>
  </div>

        <br/>
{% endfor %}
    
{% endblock %}